.todos{
  width: 500px;
  font-size: 30px;
}

.add-todo{
  position: relative;
}

.add-todo .new-todo{
  display: block;
  margin: 0px;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.add-todo .search-btn, .add-btn {
  font-size: 25px;
  position: absolute;
  top: 0;
  display: block;
  /* left: 320px; */
}

.add-todo .search-btn {
  left: 320px;
}

.add-todo .add-btn {
  left: 400px;
}

.todo-list{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.todo-item{
  position: relative;
  height: 60px;
  line-height: 50px;
  vertical-align: middle;

  background-color: antiquewhite;
  margin-top: 5px;
  
}  

.todo-item .toggle{
  height: 30px;
  width: 20px;
  zoom: 120%;
  /* -webkit-appearance: checkbox;
  appearance: checkbox; 
  position: absolute;*/
  /* top: 5px;
  bottom: 0; */

  display: inline-block;
  vertical-align: middle;
}

/* .todo-item .toggle:after {
  margin: 10px 0 0 0;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-item .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
} */

.todo-item .text{
  margin: 0 0 0 50px;
  height: 40px;

}

.todo-item .remove{
  border: 0;
  background: 0;
  /* display: none; */
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  -webkit-appearance: none;
  appearance: none;
  margin: 5px 0 0 0;


}

.todo-item:hover .remove {
  display: block
}

.todo-item .remove:hover {
  color: #af5b5e;
  font-size: 35px;
}